In [5]:
import yfinance as yf
yf.pdr_override()
import os

In [6]:
# get stock data
def get_stock_data(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start=start_date, end=end_date)
    return stock_data

tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN','600967.SS'] 
start_date = "2016-12-14"
end_date = "2019-06-08"
directory = 'StockData'
if not os.path.exists(directory): # create directory if it doesn't exist
    os.makedirs(directory)

for ticker in tickers:
    data = get_stock_data(ticker, start_date, end_date)
    data.to_csv(f'{directory}/{ticker}.csv') # save data to csv file

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AAPL']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MSFT']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['GOOGL']: JSONDecodeError('Expecting value: line 1 column 1 (char 0)')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
get_stock_data('600967.SS', start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2016-12-14  13.13  13.38  12.94  13.07  12.245169  10659895
2016-12-15  13.09  13.52  13.00  13.33  12.488762  12010992
2016-12-16  13.35  13.45  13.15  13.17  12.338860  10981612
2016-12-19  13.16  13.29  13.11  13.22  12.385702   7822704
2016-12-20  13.22  13.23  12.87  13.11  12.282645  10909553
...           ...    ...    ...    ...        ...       ...
2019-05-31  10.71  10.83  10.64  10.73  10.100012   8311239
2019-06-03  10.83  10.86  10.60  10.69  10.062361   9831066
2019-06-04  10.65  10.67  10.43  10.54   9.921168   7343571
2019-06-05  10.62  10.69  10.49  10.50   9.883517   6166164
2019-06-06  10.52  10.52  10.26  10.28   9.676434   8382476

[601 rows x 6 columns]